# Google Cloud Platform configuration
GOOGLE_CLOUD_PROJECT=
BIG_QUERY_DATASET_ID=
REGION=

# Vertex AI and Gemini Configuration
GOOGLE_GENAI_USE_VERTEXAI=
AGENT_MODEL=

# BigQuery Continuous Query Reservation Configuration
BQ_RESERVATION_ID=
