button.color-border {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 2em 4em;
  box-shadow: inset 0 0 0 2px #000000;
  color: #000000;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

button.color-border::before,
button.color-border::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

button.color-border.draw {
  transition: color 1s;
}

button.color-border.draw::before,
button.color-border.draw::after {
  border: 8px solid transparent;
  width: 0;
  height: 0;
}

button.color-border.draw::before {
  top: 0;
  left: 0;
}

button.color-border.draw::after {
  bottom: 0;
  right: 0;
}

button.color-border.draw:hover {
  color: var(--google-cloud-blue);
}

button.color-border.draw:hover::before,
button.color-border.draw:hover::after {
  width: 100%;
  height: 100%;
}

button.color-border.draw:hover::before {
  border-top-color: var(--google-cloud-red);
  border-right-color: var(--google-cloud-blue);
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

button.color-border.draw:hover::after {
  border-bottom-color: var(--google-cloud-green);
  border-left-color: var(--google-cloud-yellow);
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
