button.start {
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 2em 4em;
  box-shadow: inset 0 0 0 2px #000000;
  color: #000000;
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

button.start::before,
button.start::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

button.start.draw {
  transition: color 1s;
}

button.start.draw::before,
button.start.draw::after {
  border: 8px solid transparent;
  width: 0;
  height: 0;
}

button.start.draw::before {
  top: 0;
  left: 0;
}

button.start.draw::after {
  bottom: 0;
  right: 0;
}

button.start.draw:hover {
  color: #4885ed;
}

button.start.draw:hover::before,
button.start.draw:hover::after {
  width: 100%;
  height: 100%;
}

button.start.draw:hover::before {
  border-top-color: #db3236;
  border-right-color: #4885ed;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

button.start.draw:hover::after {
  border-bottom-color: #3cba54;
  border-left-color: #f4c20d;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
